<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="EonTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <EonTimer.Properties.Settings>
            <setting name="Calibration_5_Basic" serializeAs="String">
                <value>-95</value>
            </setting>
            <setting name="Calibration_5_Entralink" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="Calibration_4_Delay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Calibration_4_Second" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="Calibration_3_Lag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Calibration_3_Factor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Target_3_Initial" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Target_3_Frame" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Target_4_Second" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Target_4_Delay" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Target_5_Second" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Target_5_Delay" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Target_5_SecondaryEntralink" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Mode_5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode_4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode_3" serializeAs="String">
                <value>0</value>
            </setting>
        </EonTimer.Properties.Settings>
    </userSettings>
</configuration>
